.mapa {
  grid-column: 2;
}
.contato {
  grid-column: 3;
}

.contato li {
  margin-left: 20px;
  font-family: helvetica, arial;
}

.contato li + li {
  margin-top: 1rem;
}

.contato li::before {
  display: inline-block;
  content: "";
  width: 20px;
  height: 10px;
  background: #fb5;
  margin-right: 10px;
}
