* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: #222222;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #faf6ed;
  margin-bottom: 120px;
  height: 2000px;
}

img {
  display: block;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 110px minmax(300px, 800px) 1fr;
}

.grid-section {
  grid-column: 2 / 4;
  display: grid;
  grid-template-columns: 110px 300px minmax(300px, 800px);
}

.js .js-scroll {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
  transition: 0.6s;
}

.js-scroll.ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: 0.6s;
}
